<h2 matDialogTitle>Smart Recommendations</h2>
<div matDialogContent class="recommendations-dialog-content">
  <div class="recommendations-list" *ngIf="data.recommendations && data.recommendations.length > 0; else noRecommendations">
    <div class="recommendation-item" *ngFor="let recommendation of data.recommendations">
      <mat-icon class="recommendation-icon">lightbulb</mat-icon>
      <div class="recommendation-content">
        <h3>{{ recommendation.title }}</h3>
        <p>{{ recommendation.description }}</p>
        <div class="recommendation-actions" *ngIf="recommendation.actions">
          <button mat-button *ngFor="let action of recommendation.actions" (click)="action.handler()">
            {{ action.label }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noRecommendations>
    <div class="no-recommendations">
      <mat-icon>info</mat-icon>
      <p>No recommendations available at this time. Check back later for smart suggestions.</p>
    </div>
  </ng-template>
</div>
<div matDialogActions align="end">
  <button mat-button matDialogClose>Close</button>
</div>