<h2 mat-dialog-title>{{ isNew ? 'Create Availability' : 'Edit Availability' }}</h2>
<mat-dialog-content>
    <div *ngIf="data.allDay">
        <app-all-day-configurator [date]="data.date" (slotsChanged)="onAllDaySlotsChanged($event)"></app-all-day-configurator>
    </div>

    <mat-checkbox [(ngModel)]="isBulkCreation">
        Bulk Create
    </mat-checkbox>

    <div *ngIf="isBulkCreation">
        <app-bulk-creation-configurator (settingsChanged)="onBulkCreationSettingsChanged($event)"></app-bulk-creation-configurator>
    </div>

    <div *ngIf="!data.allDay">
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="availability.date" (dateChange)="onDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Start Time</mat-label>
            <input matInput type="time" [ngModel]="availability.startTime | date:'HH:mm'" (ngModelChange)="onStartTimeChange($event)">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Duration</mat-label>
            <mat-select [(ngModel)]="availability.duration" (selectionChange)="onDurationChange($event)">
                <mat-option *ngFor="let duration of standardDurations" [value]="duration">
                    {{ duration }} minutes
                </mat-option>
                <mat-option [value]="customDuration" *ngIf="customDuration">
                    {{ customDuration }} minutes (Custom)
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="isRecurring" (change)="onRecurringChange($event.checked)">
            Recurring
        </mat-checkbox>

        <mat-form-field *ngIf="isRecurring">
            <mat-label>Day of Week</mat-label>
            <mat-select [(ngModel)]="availability.dayOfWeek">
                <mat-option [value]="0">Sunday</mat-option>
                <mat-option [value]="1">Monday</mat-option>
                <mat-option [value]="2">Tuesday</mat-option>
                <mat-option [value]="3">Wednesday</mat-option>
                <mat-option [value]="4">Thursday</mat-option>
                <mat-option [value]="5">Friday</mat-option>
                <mat-option [value]="6">Saturday</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="warn" (click)="onDeleteClick()" *ngIf="!isNew">Delete</button>
    <button mat-button color="primary" (click)="onSaveClick()">Save</button>
</mat-dialog-actions>
